<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{> header}}

    <p>for more information contact me on</p>
    <h1>bassem.mofreh.dev@gmail.com</h1>
    <a href="/">HOME</a>
    {{> footer}}
  </body>
</html>
