<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <ul>
        <h1>{{pageName}}</h1>
        <li>PORJECT</li>
        <li>PORJECT</li>
        <li>PORJECT</li>
        <li>PORJECT</li>
        <li>PORJECT</li>
        <li>PORJECT</li>
        <a href="/home">HOME</a>
        <a href="/about">ABOUT</a>
      </ul>

      {{> footer}}
  </body>
</html>
